/* 4-August-2023 */
.homeheading
{
    background-color: lightskyblue;
}
.homepara1
{
    background-color: #f82ea4;
}
.homepara2
{
    color: rgb(50, 200, 180);

    background-color: hsla(189, 84%, 48%, 0.797);
}

.homepara3
{
    background-color: rgba(200, 100, 150, 0.5);
    background-color: hsla(200, 60%, 70%, 0.4);
}
.homehead1
{
    font-size: 200px;
    color: #aa0846;
    background-color: #fbf2e9;
}


/* 7-August-2023 */

.mynavbar
{
    background-color: lightskyblue;
    border-width: 10px;
    border-style: solid;
    border-color: #aa0846;
}
#navmenu
{
    color: darkred;
    background-color: aqua;
}

.homeparaborder1
{
    border: 20px groove blue;
}
.homeparaborder2
{
    border-top: 10px double red;
    /* border-right: 50px solid green; */
    border-bottom: 60px groove yellow;
    /* border-left: 30px dashed violet; */
}

.homeslideimg1
{
    border: darkturquoise groove 30px;

    outline-width: 15px ;
    outline-style: dashed;
    outline-color: #2fed55;
    outline-offset: 10px;
}
.homeoutline1
{
    outline: 35px lightcoral double;
    outline-offset: 20px;
}
.homeslideimg2
{
    border: 20px solid lightskyblue;
    /* padding-top: 50px; */
    padding-right: 150px;
    /* padding-bottom: 20px; */
    padding-left: 70px;
}

.hompadding2
{
    padding: 40px;
    padding: 26px;
}
.homepadding3
{
    padding: 20px 80px 200px 90px;
}
.homepara4margin1
{
    border: 10px solid blueviolet;
    padding: 10px;

    margin-top: 100px;
    margin-right: 150px;
    margin-bottom: 500px;
    margin-left: 50px;
}
.homeimgmargin2
{
    margin: 60px;

}
.homeimgmargin3
{
    margin: auto;
}
.homelistmargin4
{
    border: 5px solid darkgoldenrod;
    margin: 100px 50px 250px 410px;
    padding: 90px;
}

/* 8-August-2023 */

.width1
{
border: 10px solid red;
width: 1200px;
width: 90%;
padding: 10px;
margin: auto;

width: auto;

height: 200px;

}
.width2
{
    margin: auto;
    width: 20%;
    
    
}

.width3
{
    border: 10px greenyellow groove ;
    width: auto;
    width: 100%;

    /* height: 10px; */
}

/* li
{
    border: 3px blue groove ;
width: 50%;
width: auto;
width: fit-content;
width: max-content;
width: min-content;

} */

.height1
{
    border: 10px inset yellow;
    height: auto;
    height: fit-content;
    height: max-content;
    height: min-content;
}

.maxwidth1
{
    border: 10px solid blue;
    width: 600px;
    max-width: 100%;
}


.maxwidth2
{
    width: 500px;
    max-width: 100%;
}

/* 9-August-2023 */

.boxsize1
{
    border: 50px solid blue;
    margin: auto;
    /* width: 300px; */
    /* max-width: 100%; */
    /* height: 300px; */
box-sizing: content-box;
}

.boxsize2
{
    border: 50px solid yellow;
    margin: 0px auto 200px auto;
    width: 300px;
    max-width: 100%;

    height: 300px;
 box-sizing: content-box;
}

.boxsize3
{
    border: 100px groove red;
    width: 100%;
    padding: 100px;
    box-sizing: border-box;
}

.overflow1
{
    border: 20px solid orange;
    width: 1000px;
    max-width: 100%;
    height: 200px;
    margin: auto;

    overflow: visible;
    overflow: hidden;
    overflow: scroll;
    overflow: auto;
}
.overflow2
{
    border: 30px inset brown;
    margin: 50px auto;
    width: 800px;
    height: 400px;

    /* overflow-y: hidden;
    overflow-y: scroll;
    overflow-y: visible;
    overflow-y: auto; */

    overflow-x: hidden;
    overflow-x: scroll;
    overflow-x: visible;
    overflow-x: auto;

}

.borderradius1
{
    border: 10px solid green;
    width: 1200px;
    margin: auto;
    padding: 40px;
    outline: 20px solid cyan;
    outline-offset: 30px;
    /* border-top-left-radius: 50px; */
    border-top-right-radius: 100px;

    /* border-bottom-right-radius: 20px; */
    border-bottom-left-radius: 100px;
}

.borderradius2
{
    width: 400px;
    height: 400px;
    margin: 20px;
    border: 30px groove lightskyblue;
    padding: 5px;
    border-radius: 400px;
    border-radius: 50%;
}

.borderradius3
{
    border: 100px double red;
    margin: auto;
    width: 20%;
    height: 300px;

    border-radius: 50px 50% 50% 50px;
}

/* 10-August-2023 */

.boxshadow1
{
    width: 600px;
    height: 400px;
    border: 10px solid red;
    margin: auto;

    box-shadow: 25px 25px 25px rgb(169, 169, 169);

}

.boxshadow2
{
    width: 1200px;
    border: 20px greenyellow groove;
    margin: 50px auto;

    box-shadow: 20px -20px 10px rgb(0, 0, 255);
}

#boxshadow3
{
    width: 800px;
    height: 500px;
    border-radius: 50%;
    margin: 100px;

    box-shadow: 10px 10px 5px red ,  20px 20px 10px blue, -10px -10px 10px yellow , -15px -15px 10px black , 30px -30px 10px violet, -40px 40px 10px brown  ;

}

#boxshadow4
{
    width: 400px;
    height: 450px;
    border-radius: 20px;
    margin: 100px;

    /* box-shadow: -30px 0px 20px grey; */
    box-shadow: 0px 30px 15px grey;
}

#boxshadow5
{
    width: 300px;
    height: 350px;
    border-radius: 0px;
    margin: 200px;

    box-shadow: 0px 0px 10px 10px rgb(122, 122, 122) , 0px 0px 10px 30px rgb(47, 255, 85) , 0px 0px 10px 40px rgb(255, 36, 248), 0px 0px 0px 130px  rgb(255, 255, 255) , 0px 0px 0px 150px #aa0846;

    outline: 10px blue groove;
    outline-offset: 170px;
}

.boxshadow6
{
    width: 800px;
    max-width: 100%;
    border: 10px double #aa0846;
    padding: 10px;
    margin: 100px auto;

    box-shadow: 0px 0px 120px 40px rgb(247, 211, 211) inset , 0px 0px 15px 20px rgb(190, 190, 190), 40px 40px 15px 20px rgb(251, 255, 0) , -40px -40px 15px 20px rgb(255, 0, 230) ;
}


/* 11-August-2023 */
.float1
{
    width: 1400px;
    max-width: 100%;
    border: 10px solid red;
    padding: 10px;

    /* height: 500px; */

}
.float2
{
    height: 150px;
    width: 250px;
    margin: 5px 10px 5px 10px;
    box-shadow: 6px 6px 3px gray;

    float: right;
    
}
.float3down
{
    clear: right;
    
}
.floatleftflag
{
    float: left;
}

.float3
{
    border: 5px double green;
    padding: 20px;
    margin: 10px;

    float: left;
    clear: left;
}

#font2
{
    font-size: 150px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: Magneto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    color: lightskyblue;

    line-height: normal;
    font-family: 'Julee', cursive;
}



.font1
{
    font-size: 40px;
    width: 90%;
    margin: auto;
    padding: 10px;
    border: 10px inset blue;
    font-weight:800;
    font-weight: bolder;
    font-weight: lighter;

    font-style: italic;

    line-height: 70px;


    font-family: 'Rubik Moonrocks', cursive;


}
.font3
{
    font-size: 60px;
    font-style: normal;

    font-variant: normal;
    font-variant: small-caps;

}

/* 12-August-2023 */

.font3
{
    font-family: 'Barriecito', cursive;
}

::-webkit-scrollbar
{
    width: 10px;
}
::-webkit-scrollbar-track
{
    background-color: #d0fcf8;
    border: 1px solid yellow;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb
{
    background-color: #170069;
    border-radius: 20px;
}

.textalign1
{
    border: 10px solid red;
    width: 80%;
    font-size: 20px;
    padding: 10px;
    margin: auto;
        text-align:justify;

        text-align-last: auto;
        text-align-last: center;
        text-align-last: right;
        text-align-last: justify;

        text-indent: 400px;
        word-spacing: 15px;
        line-height: 25px;
}
.textalign2
{
    text-align: center;
    text-align: end;
    text-align: justify;
    text-align: left;
    text-align: start;
    text-indent: 100px;

}

.textalign3
{
    text-transform: capitalize;
    text-transform: lowercase;
    text-transform: none;
    text-transform: uppercase;
    
}

.textalign4
{
    font-size: 80px;
    word-spacing: 150px;
}

.textalign5
{
    letter-spacing: 90px;
}

/* 14-August-2023 */

.textdecoration1

{
    width: 100%;
    border: 2px solid darkcyan;
    text-align: center;
    font-size: 40px;
}

.textdecoration2
{
margin-left: 50px;

text-decoration-line: none;
text-decoration-line: overline;
text-decoration-color: #aa0846;
text-decoration-style: double;
text-decoration-thickness: 2px;

}

.textalign5
{
    text-decoration: 20px lightcoral underline wavy;
}

.textshadow1
{
    font-size: 140px;
    text-align: center;
    color: darkgreen;
    text-shadow: 12px 12px 6px rgb(158, 158, 158);
}

.textdecoration3
{
    font-size: 100px;
    color: lightskyblue;
    text-align: center;

    text-shadow: 10px 0px 5px rgb(235, 175, 175);
}
.textdecoration4
{
    font-size: 160px;
    padding: 90px;
    font-weight: 700;
    text-align: center;
    border: 5px double lightgreen;
    border-radius: 50%;
    color: rgb(221, 28, 255);

    box-shadow: 0px 0px 100px 30px lightpink inset;
    text-shadow: 6px 6px 3px red, -6px -6px 3px blue, 6px -6px 3px aqua, -6px 6px 3px black;

}

.columncount1
{
    width: 95%;
    border: 10px solid darkblue;
    margin: auto;
    font-size: 25px;
    text-align: justify;
    padding: 10px;
    color: darkorange;

    column-count: 5;
    column-gap: 30px;
    column-rule: 12px double lightgreen;
}

#columncount2
{
    color: darkslateblue;
    column-span: none;
    column-span: all;
}

.columncount3
{
    background-color: #2fed55;
    height: 10px;
}

/* 16-August-2023 */

.liststyle1
{
    border: 5px solid greenyellow;
font-size: 55px;
color: #aa0846;

list-style-image: url('image/movie_icon.png');
list-style-position: inside;
}

.liststyle2
{
    font-size: 70px;
    color: blue;
    
    list-style-position: inside;
    list-style-type: armenian;
    list-style-type: circle;
    list-style-type: decimal;
    list-style-type: decimal-leading-zero;
    list-style-type: disc;
    list-style-type: georgian;
    list-style-type: lower-greek;
    list-style-type: lower-latin;
    list-style-type: none;
    list-style-type: upper-roman;

    list-style: upper-alpha inside;
}

.bgimg1
{
    width: 80%;
    height: 560px;
    border: 10px solid red;

    background-image: url('image/flag\ India\ 1.PNG');
    background-repeat: no-repeat;
    background-repeat: repeat;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-repeat: space;
    background-repeat: round;
}

.bgimg2
{
    width: 55%;
    height: 700px;
    border: 10px solid blue;
    margin: auto;

    background-image: url('image/flag\ India\ 1.PNG');
    background-repeat: no-repeat;
    background-position: center right;
    background-position: bottom left;
    background-position: center bottom;

    background-position: 900px 60px;
    background-position: 90% 90%;

    background: 20% 83% url('image/circle.jfif') no-repeat;
}

.bgimg3
{
    width: 100%;
    height: 700px;
    box-sizing: border-box;
    border: 10px solid yellow;

    background: url('image/Slide_1.jpg') no-repeat center center;
    background-attachment: scroll;
    background-attachment: fixed;
}
.bgimg4
{
    margin: 60px;
    box-shadow: 0px 0px 20px 10px gray;
}
.bgimg5
{
background-image: url('image/Slide_2.jpg');
}
.bgimg6
{
background-image: url('image/Slide_3.jpg');
}

.bgimg7
{
    width: 80%;
    /* height: 600px; */
    border: 10px solid orange;
    margin: auto;

    background: url('image/flag_America__1.PNG');
    background-size: auto;
    background-size: contain;
    background-size: cover;

    background-size: 1100px 600px;
    background-size: 100% 100%;

}

/* 17-August-2023 */

.bgimg8
{
width: 900px;
margin: auto;
border: 100px dashed darkgoldenrod;
text-align: justify;
padding: 70px;
background: url('image/ducklaugh.gif') no-repeat;
background-size: 100% 100%;

background-origin: border-box;
background-origin: content-box;
background-origin: padding-box;
}

.bgimg9
{
    width: 80%;
    border: 80px dotted darkgreen;
    margin: auto;
    text-align: justify;
    padding: 70px;
    background-color: lightskyblue;
    background-clip: border-box;
    background-clip: content-box;
    background-clip: padding-box;
}

.lingrad1
{
    width: 70%;
    height: 400px;
    border: 5px solid black;
    margin: 50px auto;
}

.lineargradiant1
{
    background: linear-gradient(red,yellow,blue,orange,black,aqua);
}
.lineargradiant2
{
    width: 1400px;
    background: linear-gradient(to bottom  left, red,yellow,blue,orange,black,aqua);
}
.lineargradiant3
{
    background: linear-gradient(193deg , red,yellow,rgb(34, 34, 255),orange,black,aqua);
}

.lineargradiant4
{
    background: linear-gradient(270deg , red,yellow  ,blue,orange,black 10px ,aqua 70%);
}
.repeatlineargradiant1
{
    background: repeating-linear-gradient(48deg, red,yellow 5px ,blue,orange,black 120px,aqua 33.33%);
}

.bgimgforlinegad1
{
    background: url('image/Large_\(2\).jpg') ;
    background-size: 100% 100%;
}
.repeatlineargradiant2
{
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    background: repeating-linear-gradient(90deg, rgba(255, 0, 0, 0.372),rgba(255, 255, 0, 0.5) 10% ,rgba(0, 0, 255, 0.509),orange,rgba(0, 0, 0, 0.475) 20%,aqua 100%);
    background: repeating-linear-gradient(32deg,  #08005bad , #f2ff02ce 100%);
}

/* 18-August-2023 */

.radialgrad1
{
    width: 80%;
    height: 500px;
    border: 10px black solid;
    margin: auto;
    border-radius: 100px;
    
}

.radgr1
{
    background: radial-gradient(red,yellow,blue,orange,black,aqua);
}
.radgr2
{
    background: radial-gradient(red,yellow,blue,orange 8% ,black,aqua 20%);
}
.radgr3
{
    background: radial-gradient(circle , red,yellow,blue,orange 8% ,black,aqua 20%);
}
.radgr4
{   
    border-radius: 0px;
    /* background: radial-gradient(closest-side at 100px 480px , red,yellow,blue,orange ,black,aqua); */
    background: radial-gradient(circle closest-side at 50% 30% , red,yellow,blue,orange ,black,aqua);
}
.radgr5
{   
    border-radius: 0px;

    /* background: radial-gradient(closest-side at 100px 480px , red,yellow,blue,orange ,black,aqua); */
    background: radial-gradient(circle farthest-side at 50% 30% , red,yellow,blue,orange ,black,aqua);
    background-attachment: fixed;
}
.radgr6
{   
    border-radius: 0px;
    /* background: radial-gradient(closest-side at 100px 480px , red,yellow,blue,orange ,black,aqua); */
    background: radial-gradient(circle closest-corner at 50% 30% , red,yellow,blue,orange ,black,aqua);
}
.radgr7
{   
    border-radius: 0px;
    /* background: radial-gradient(closest-side at 100px 480px , red,yellow,blue,orange ,black,aqua); */
    background: radial-gradient(circle farthest-corner at 50% 30% , red,yellow,blue,orange ,black,aqua);
}

.repeatradgr8
{
    border-radius: 0px;
    background: repeating-radial-gradient( circle,  red,yellow,blue,orange 20px,black,aqua 50px);
}

.opacity2
{
    width: 95%;
    height: 600px;
    margin: auto;
    border: 5px solid red;

    /* background: url('image/flag\ India\ 1.PNG') no-repeat; */
    background: linear-gradient(rgba(255, 0, 0, 0.578),aqua,rgba(0, 0, 255, 0.619));
    background-size: 100% 100%;
    /* opacity: 0.8; */
}
.opacity3
{
    width: 95%;
    height: 700px;
    border: 10px double blue;
    margin: auto;

    background: url('image/Slide_1.jpg');
}
.opacity1
{
    width: 300px;
    height: 300px;
    margin: 60px;

    opacity: 0.8;
}

/* 19-August-2023 */


.pseudo1
{
margin: 50px;
height: 200px;
width: 200px;
border-radius: 20px;
}

.pseudo1:hover
{
    width: 400px;
    height: 400px;
    box-shadow: 0px 0px 20px 8px gray;
    border-radius: 50%;
    border: 20px double lightgreen;
}

.pseudo2
{
    width: 400px;
    max-width: 100%;
    height: 100%;
    text-align: justify;
    font-size: 20px;
    margin: auto;
    border: 5px solid lightskyblue;
    padding: 10px;
}

.pseudo2:hover
{
    font-size: 30px;
    color: yellow;
    width: 750px;
    background: linear-gradient(10deg , #80ffc6, #5e8dfa 42%);
}

.pseudo3
{
    width: 20px;
    height: 20px;
    margin: 10px;
}
.pseudo2:hover .pseudo3
{
width: 100px;
height: 100px;
border-radius: 20px;
box-shadow: 0px 0px 10px 4px lightsalmon ;
float: left;
}
.pseudo2:hover h1
{
    text-align: center;
    text-shadow: 5px 5px 4px rgb(27, 255, 23);
}
.pseudo4
{
    width: 500px;
    /* height: 500px; */
    margin:50px auto;
    border: 10px solid red;
    background: url('image/Large_\(1\).jpg') no-repeat;
    background-size: 100% 100%;
 
}
.pseudo4:active
{
    background: url('image/Large_\(2\).jpg') no-repeat;
    background-size: 100% 100%;   
    border-radius: 50%;
    box-shadow: 0px 0px 20px 10px grey;
}
.pseudo5
{
    width: 110px;
    height: 110px;
    margin-left: 90px;
    padding: 100px 0px 100px 0px;
    opacity: 0;
}
.pseudo4:active  .pseudo5
{
    border-radius: 50%;
    opacity: 0.8;
}

.pseudo6
{
    font-size: 30px;
    text-align: center;
}
#navmenus:link 
{
    color: red;
    background-color: #fff;
    font-weight: 800;
    text-decoration: none;
    margin-left: 50px;
}
 #navmenus:visited
{
    color: yellow;
    background-color: brown;
    text-decoration: none;
}
.pseudo67
{
width: 400px;
height: 50px;
font-size: 40px;
background-color: lightgreen;
border-radius: 10px;
border: 1px solid black;
}
.pseudo67:focus
{
    background-color: rgb(255, 240, 240);
    color: yellow;
    box-shadow: 0px 0px 10px 5px aqua;
}

/* 21-August-2023 */

.finalnavbar
{
    width: 100%;
    border: 1px solid darkblue;
    box-sizing: border-box;
    padding: 3px 0px 3px 0px;
    margin: auto;
    text-align: center;
    background-color: darkorange;
}
.navbaroptions
{
    background-color: #00ffea;
    color: #aa0846;
    border-left: 5px solid #000;
    border-top: 5px solid #000;
    font-size: 30px;
    margin-left: 50px;
    text-decoration: none;
    border-radius: 0px 10px 0px 10px;
}
.navbaroptions:hover
{
    color:#a8fffe ;
    background-color: #aa0846;
    border-left: 0px solid #a8fffe;
    border-top: 0px solid #a8fffe;
    border-right: 5px solid #a8fffe;
    border-bottom: 5px solid #a8fffe;
    border-radius: 10px 0px 10px 0px;
    text-shadow: 2px 2px 1px #000;


}

.display1
{
    height: auto;
    display: none;
}
.display2
{
    font-size: 30px;
    color: lightcyan;
    border: 5px solid black;
    line-height: 50px;
    margin: 20px;

    display : block;
}
.display3
{
height: auto;
padding: 20px;
}
.display4
{
    font-size: 20px;
    color: #fff;
    border: 3px solid black;
    display: inline;
    /* float: left; */
    margin: 20px;
    line-height: 40px;
}

.display5
{
    width: 300px;
    max-width: 100%;
    margin: 10px;
    display: inline-block;
    /* float: left; */
}
.display6
{
    display: flex;
    justify-content: end;
    justify-content: left;
    justify-content: center;
    align-items: end;
    align-items: normal;
    align-items: center;
}
.displayimg1
{
    width: 200px;
    height: 200px;
    /* margin: 150px; */
}
.displayimg1:hover
{
    height: 400px;
    width: 400px;
}

.display7
{
border: 20px double #fff;
box-sizing: border-box;

}

/* 22-August-2023 */

.gfilter1
{
width: 100%;
border: 10px groove darkblue;
box-sizing: border-box;
border-radius: 50px;

}
.gfilter2
{
    width: 80%;
    border: 5px dashed darkorange;
    margin: 40px auto;
    box-shadow: 0px 0px 30px 10px gray;
    border-radius: 60px;
}
.gfilter3
{
    width: 400px;
    max-width: 100%;
    height: 350px;
    border-radius: 30px;
    margin: 10px 80px  10px 80px;
    box-shadow: 0px 0px 20px 7px #5e8dfa;
}
.gfilter4
{
    text-align: center;
    font-size: 40px;
    color: #aa0846;
    text-shadow: 4px 4px 3px limegreen;
}
.fnone:hover
{
    filter: none;
}
.fblur:hover
{
    filter: blur(5px);
}
.fbrightness:hover
{
    filter: brightness(140%);
}
.fcontrast:active
{
filter: contrast(150%);
}
.fdropshadow
{
    box-shadow: 0px 0px 0px gray ;
    filter: drop-shadow();
}
.fdropshadow:hover
{
    /* box-shadow: 10px 10px 10px gray ; */
    filter: drop-shadow(-85px -75px 4px gray);
}
.fgrayscale:active
{
filter: grayscale(100%);
}
.fhuerotate:hover
{
filter: hue-rotate(300deg);
}
.finvert:hover
{
    filter: invert(100%);
}
.gfilter2bg
{
    background: url('image/circle.jfif');
}
.fopacity:hover
{
    filter: opacity(76%);
}

.fsaturate:hover
{
    filter: saturate(300%);
}

.fsepia:hover
{
    filter: sepia(100%);
}
.fmultiples
{
    filter: blur(10px) contrast(70%) brightness(60%) saturate(40%);
}
.fmultiples:hover
{
filter: blur(0px) contrast(140%) brightness(130%) saturate(130%);
}

/* 23-August-2023 */

.displaying
{
    display: flex;
    flex-wrap: wrap;
}

.transition3
{
    /* display: inline-block; */
    margin: 15px;
    width: 420px;
    height: 550px;
    border: 10px solid red;
}
.transition1
{
    border: 2px solid black;
    width:420px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.transition2
{
    width: 370px;
    height: 390px;
    margin: auto;
    filter: blur(1px);
    box-shadow: 0px 0px 0px gray;

    transition-property: all;
    transition-duration: 500ms;
}
.transition2:hover
{
    box-shadow: 0px 0px 20px 10px lightgreen;
    filter: blur(0px) brightness(110%) contrast(120%);
    width: 400px;
    height: 430px;
}

.transition4
{
    text-align: center;
    font-size: 25px;
    padding: 10px;
    color: lightcyan;
    text-shadow: 0px 0px 0px blue;
    box-shadow: 0px 0px 0px yellow;
    border: 5px double greenyellow;

    transition-property:font-size, padding,color,text-shadow, box-shadow, border ;
    /* transition-duration: 5s,5s,20s,10s,15s,25s; */
    transition-duration: 1s,1s,2s,1s,1s,1s;
    /* transition-delay: 2s; */
    transition-delay: 0s;
}
.transition4:hover
{
    font-size: 35px;
    padding: 0px;
    color: darkblue;
    text-shadow: 5px 5px 4px rgb(251, 255, 0);
    box-shadow: 0px 0px 50px 30px #f82ea4;
    border: 15px double greenyellow;
}


/* 24-August-2023 */


.transition5
{
    width: 1500px;
    max-width: 100%;
    height: 700px;
    margin: 5px;
    box-sizing: border-box;
}

.transsmboxname
{
    font-size: 30px;
    color: darkgreen;
    font-weight: bolder;
}
.transsmbox
{    
    height: 90px;
    border: 5px solid black;
    box-sizing: border-box;
    width: 120px;
    border-radius: 0px;
    background-color: #aa0846;

    transition-property: all;
    transition-duration: 6s;
    transition-delay: 0s;
}
.trnsbox1
{
    transition-timing-function: ease;
}

.trnsbox1:hover
{
    width: 1450px;
    border-radius: 50px;
    background-color: #f0ff1e;
}

.trnsbox2
{
    transition-timing-function: ease-in;
}
.trnsbox2:hover
{
    width: 1450px;
    border-radius: 50px;
    background-color: #1eff2d;
}

.trnsbox3
{
    transition-timing-function: ease-out;
}
.trnsbox3:hover
{
    width: 1450px;
    border-radius: 50px;
    background-color: #311eff;
}

.trnsbox4
{
    transition-timing-function: ease-in-out;
}
.trnsbox4:hover
{
    width: 1450px;
    border-radius: 50px;
    background-color: #ff1ef0;
}

.trnsbox5
{
    transition-timing-function: linear;
}
.trnsbox5:hover
{
    width: 1450px;
    border-radius: 50px;
    background-color: #1ef4ff;
}

.transition6
{
    background: url('image/Large_\(2\).jpg') no-repeat center center;
    background-size: 150% 150%;

    transition: all 1s ease 0s;
}

.transition6:hover
{
    background: url('image/Large_\(2\).jpg') no-repeat center center;
    background-size: 100% 100%;
}

.transition7
{
    background: radial-gradient(circle closest-side at 70% 30% , rgba(0, 0, 0, 0.911), rgba(173, 216, 230, 0.916) 98%, rgba(255, 255, 255, 0.932) 99% ); 
    filter: brightness(100%) contrast(100%) saturate(100%);
    opacity: 0.2;
    transition: all 500ms ease-in 0s;
}

.transition7:active
{    
    background: radial-gradient(circle closest-side at 70% 30% , rgba(0, 0, 0, 0.84), rgba(174, 230, 173, 0.906) 98%, rgba(255, 87, 87, 0.945) 99% ); 
    filter: brightness(130%) contrast(120%) saturate(140%);
    opacity: 1;
}
/* 25-August-2023 */


.animation1
{
    font-size: 30px;
    text-shadow: 0px 0px 0px darkgray;
    letter-spacing: 0px;
    color: red;
    border: 1px solid black;
    padding: 100px;
    background-color: #00ffea;

    animation-name: homepage;
    animation-duration: 2s;
    animation-iteration-count: 3;
}

@keyframes homepage {
    from
    {
        font-size: 30px;
        text-shadow: 0px 0px 0px darkgray;
        letter-spacing: 0px;
        color: red;
        padding: 100px;
        background-color: #00ffea;
    
    }   
    to 
    {
        font-size: 180px;
        text-shadow: 10px 10px 8px black;
        letter-spacing: 30px;
        color: yellow;
        padding: 40px;
        background-color: #ff00ea;
        
    }
}
.animation2
{
    width: 95%;
    height: 700px;
    border: 10px skyblue double;
    margin: auto;
}
.animationimg1
{
    height: 200px;
    width: 200px;
    border: 1px groove blue ;
    border-radius: 0%;
    margin-left: 0px;

    animation-name: aniimg;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-direction: reverse;
    animation-direction: alternate-reverse;
    animation-direction: alternate;
    animation-delay: 2s;
}
@keyframes aniimg {
    from 
    {
        margin-left: 0px;
        height: 200px;
        width: 200px;
        border: 1px groove blue ;
        border-radius: 0%;    
    }
    to 
    {
        margin-left: 500px;

        height: 500px;
        width: 500px;
        border: 150px groove greenyellow ;
        border-radius: 50%;    
    }
}

.animation3
{
    width: 1400px;
    height: 700px;
    border: 5px inset yellow;
}
.animation4
{
    font-size: 30px;
}
.animacar
{
height: 80px;
width: 150px;
display: block;
margin-left: 0px;

animation-name: mycars;
animation-duration: 8s;
animation-iteration-count: infinite;
animation-direction: alternate;
}
.animationimg2
{
    animation-timing-function: ease;
    filter: hue-rotate(0deg);
}
.animationimg3
{
    animation-timing-function: ease-in;
    filter: hue-rotate(60deg);
}
.animationimg4
{
    animation-timing-function: ease-out;
    filter: hue-rotate(120deg);
}
.animationimg5
{
    animation-timing-function: ease-in-out;
    filter: hue-rotate(180deg);
}
.animationimg6
{
    animation-timing-function: linear;
    filter: hue-rotate(240deg);
}
.animationimg7
{
    animation-timing-function: steps(8,start);
    filter: hue-rotate(290deg);
}
@keyframes mycars {
    from 
    {
        margin-left: 0px;
        /* filter: drop-shadow(0px 0px 0px black); */
    }
    to 
    {
        margin-left: 1090px;
        filter: hue-rotate(0deg);

    }
}

/* 26-August-2023 */

.animationimg6
{
    animation-play-state: running;
}
.animationimg6:hover
{
    animation-play-state: paused;
}

.animationimg8
{
    height: 160px;
    float: right;
    margin-top: 0px;
    filter: drop-shadow(0px 70px 15px gray);

    animation-name: myfootball;
    animation-duration: 700ms;
    animation-iteration-count: 7;
    animation-direction: alternate;
    animation-delay: 0s;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
}
@keyframes myfootball {
   from
   {
    margin-top: 0px;
    filter: drop-shadow(0px 70px 15px gray);
   }
    to 
   {
    margin-top: 540px;
    filter: drop-shadow(0px 0px 0px gray);
   }
    
}

.animation5
{
    width: 100%;
    border: 5px solid aquamarine;
    margin: auto;
    height: 450px;
    background: url('image/Slide_1.jpg') no-repeat center center;
    background-size: 100% 100%;

    animation: myslides 10s linear 1s infinite normal none;
}

@keyframes myslides {
    0%
    {
        background: url('image/Slide_1.jpg') no-repeat center center;
        background-size: 100% 100%;    
    }
    20%
    {
        background: url('image/Slide_2.jpg') no-repeat center center;
        background-size: 100% 100%;    
    }
    40%
    {
        background: url('image/Slide_3.jpg') no-repeat center center;
        background-size: 100% 100%;
    }
    60%
    {
        background: url('image/Slide_4.jpg') no-repeat center center;
        background-size: 100% 100%;
    }
    80%
    {
        background: url('image/Large_\(1\).jpg') no-repeat center center;
        background-size: 100% 100%;
    }
    100%
    {
        background: url('image/Large_\(2\).jpg') no-repeat center center;
        background-size: 100% 100%;
    }
}

.transform1
{
    width: 95%;
    border: 5px solid red;
    margin: auto;
}
.transform2
{
    width: 400px;
    border: 2px solid blue;
    margin: 10px auto 10px auto;
    border-radius: 25px;
    font-size: 30px;
    text-align: justify;
    padding: 10px;
    color: #aa0846;

}
.transformrotate1
{
    transform: rotateX(0deg);
    transform: rotateY(0deg);
    transform: rotateZ(0deg);
    transition: all 3s ease 0s;
}
.transformrotate1:hover
{
    transform: rotateX(180deg);
    transform: rotateY(180deg);
    transform: rotateZ(180deg);
}

/* 28-August-2023 */

.transform2
{
    display: inline-block;
}
.transform3
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px dashed #311eff;
    width: 600px;
    height: 600px;
    margin: auto 40px;
}
.transform4
{
    display: inline-block;
}
.transformscale1
{
    transition: all 400ms ease 0s;

}
.transformscale1:hover
{
    box-shadow: 0px 0px 20px 8px gray ;
    color: yellow;
    background-color: darkred;

    transform: scaleX(2);
    transform: scaleY(2);
    transform: scale(1.1);

}

.transformimg1
{
    margin: 0px 50px 0px 50px;
    width: 300px;
    height: 350px;
    border-radius: 25px;
}
.transformtranslate1
{
    transition: all 400ms ease 0s;
}
.transformtranslate1:hover
{
transform: translateX(100px);
transform: translateY(-100px);
box-shadow: 40px 40px 10px  rgb(177, 176, 176) ;
transform: translate(-80px , -80px );

}
.transform5
{
    display: block;
    width: 1350px;
    margin: auto;
    border: 10px solid red;
}
.transform6
{
    border: 5px dashed #311eff;
   width: 100%;
   margin: auto;
   box-sizing: border-box;
}

.transformimg2
{
    border-radius: 0px;
   transition: all 400ms ease 0s;

}
.transformimg3
{
    border-radius: 0px;
   transition: all 400ms ease 0s;

}
.transformimg4
{
    border-radius: 0px;
   transition: all 400ms ease 0s;

}
.transform6:hover .transformimg2
{
    transform: skewX(-30deg);
}
.transform6:hover .transformimg3
{
    transform:skewY(-30deg);
}
.transform6:hover .transformimg4
{
    transform: skew(-30deg , 30deg);
}

.transformimg5
{
    border-radius: 0%;
   transition: all 1.5s ease 0s;
    opacity: 0.5;
    filter: blur(4px) contrast(80%) brightness(70%);
}
.transform6:hover .transformimg5
{
    border-radius: 50%;
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg) scale(1.5) skew(25deg, 25deg) translate(100px , -130px);
    opacity:1;
    filter: blur(0px) contrast(120%) brightness(130%);
}


/* 4-Sep-2023 */

.position1
{
    width: 95%;
    border: 10px solid red;
    margin: auto;
    height: 600px;
    box-sizing: border-box;
}
.position2
{
    height: 300px;
    width: 300px;
    border: 20px yellow groove ;

}
.posimg1
{
    position: static;
    top: 100px;
    left: 300px;
}
.posimg2
{
    height: 200px;
    width: 200px;
    border-color: blue;
    position: absolute;
    top: 150px;
    left: 650px;
    z-index:-1;
}
.posimg3
{
    border-color: #aa0846;
    position: fixed;
    bottom: 80px;
    right: 80px;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    z-index: 1;
}
.posimg4
{
    position: relative;
    top: 100px;
    left: 700px;
    z-index: -1;
}
.posimg5
{
    position: relative;
    z-index: -1;
}
.position3
{
    border-color: violet;
    border-width: 30px;
}

.posimg6
{
    height: 400px;
    width: 1000px;
    margin-left: 300px;
    position: sticky;
    top: 20px;
    bottom:30px;

}
.position4
{
    border: 1px solid darkblue;
}
.position5
{
    font-size: 40px ;
    color: darkred;
    background: linear-gradient(32deg, yellow,aqua 60%);
}
.position6
{
    position: sticky;
    top: 0px;
    z-index: 6;
}

/* 5-Sep-2023 */

.scrollbehr1
{
    padding-top: 100px;
    text-align: center;
    font-size: 50px;
    color: darkred;
    text-decoration: overline 6px solid darkorange;
}
html
{
    scroll-behavior: auto;
    scroll-behavior: smooth;
}
#navtop
{
    padding-top: 50px;
}
.positiongotop1
{
    border: 4px solid red;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: 25px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    background-color: #aa0846;
}

.positiongotop
{
    color: lightgoldenrodyellow;
    text-decoration: none;
}
.dropdown
{
    display: inline;
    /* border: 5px solid red; */
    height: 200px;
    padding-bottom: 110px;
    
}
.serviceoption
{
    border: 2px solid black;
    background-color: #00ffea;
    list-style: none;
    display: none;
    /* display: inline; */
    position: absolute;
    top: 25px;
    left: 400px;
    font-size: 25px;
    overflow: hidden;
    transition: all 1s ease 0s;
}
.dropdown:hover .serviceoption
{
    display: block;   
}
